@font-face {
    font-family: Oasis;
    src: url("../fonts/Oasis-BW0JV.ttf");
}

@media only screen and (max-width: 576px) {
    #ContentSection{
        background-color: #16588E;
        padding: 1rem;

        h2, h3, h5{
            color: #E7222E;
            font-size: large;
        }
        p{
            font-size: small;
            color: white;
        }
        span{
            font-weight: bold; 
            color: #e7222e;
            padding-left: 3px;
            padding-right: 3px;
        }
        ul{
            list-style: disc; 
            color: #e7222e;
        }
    }
}

@media only screen and (min-width: 576px) {
    #ContentSection{
        background-color: #16588E;
        padding: 1rem;

        h2, h3, h5{
            color: #E7222E;
            font-size: large;
        }
        p{
            font-size: small;
            color: white;
        }
        span{
            font-weight: bold; 
            color: #e7222e;
            padding-left: 3px;
            padding-right: 3px;
        }
        ul{
            list-style: disc; 
            color: #e7222e;
        }
    }
}